.idea
train/train_info/.env
*#
log
*~
trash
venv
.DS_Store
images/weather.ppm
.env
venv
server/.gitignore
calendar_data
images/enh.ppm
*.pyc
*__pycache__/
.vagrant/
db

server/static/display_2.jpg
server/static/display_2.ppm

server/static/display.jpg
server/db

server/client/generated/*
server/static/weather.ppm